[[extend 'layout.html']]

[[block loading]]<div v-if="loading" class="progress">
	<div class="indeterminate"></div>
</div>[[end]]

<div>
	<div class="padded">
		[[if is_admin:]]
		<a style="float:right" role="button" href="[[=URL('create_run')]]">Create New Run</a>
		<a style="float:right" role="button" v-on:click="reload_config()">Reload Config</a>
		[[pass]]
		<a style="float:right" role="button" v-on:click="window.location.reload()">Refresh Page</a>
	</div>
	<div style="display:flex; width: 100%; min-height: 100vh">
		<div style="flex: 0 0 20%; min-width: 200px">
			<div style="margin:2px 5px">
				<form v-on:submit.prevent="search">
					<input v-model="words" placeholder="search by name or tag">
				</form>
			</div>
			<div style="max-height:80vh;overflow-y:auto;top:0">
				<table class="runs">
					<tbody>
						<tr v-for="run in runs" v-on:click="select(run)"
							v-bind:class="{'run-selected': run==selected_run}">
							<td style="width:5px" v-bind:class="'status-' + run.status"></td>
							<td>
								<div>#{{run.id}}
									<strong>{{run.name}}</strong>
								</div>
								<small style="white-space:nowrap">
									<span class="pill">{{fmtd(run.queued_timestamp)}}</span>
									<span v-if="run.scheduled_timestamp && !run.start_timestamp">... <span
											class="pill">{{fmtt(run.scheduled_timestamp)}}</span></span>
									<span v-if="run.start_timestamp">&gt; <span
											class="pill">{{fmtt(run.start_timestamp)}}</span></span>
									<span v-if="run.stop_timestamp">&gt; <span
											class="pill">{{fmtt(run.stop_timestamp)}}</span></span>
								</small>
							</td>
						</tr>
						<tr v-if="have_more">
							<td colspan="2">
								<button v-on:click="search_more">More</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div style="flex: 1" v-if="selected_run">
			<div class="selected_run">
				<div v-bind:class="'status-' + selected_run.status" style="padding:2px 5px">{{selected_run.status}}
				</div>
				<div style="background-color:#f6f6f6; padding:2px 5px">
					Selected run: #{{selected_run.id}} <b>{{selected_run.name}}</b>
				</div>
				<div style="padding:10px 20px;border:2px solid #f6f6f6">
					<p>{{selected_run.description}}</p>
					<a class="pill" v-bind:href="'../run/run' + selected_run.id + '.trigger_event.json'"
						target="blank">Trigger Event</a>
					<a class="pill" v-bind:href="'../run/run' + selected_run.id + '.output_log.txt'"
						target="blank">Logs</a>
					<a class="pill" v-bind:href="'../run/run' + selected_run.id + '.output_data.json'"
						target="blank">Data</a>
					[[if is_admin:]]
					<a class="pill" v-on:click="rerun(run)">Re-run</a>
					<a class="pill" v-bind:href="'[[=URL('update_run')]]/' + selected_run.id">Update run</a>
					[[pass]]
				</div>
				<div style="padding:10px 20px">
					<div style="width:100%; display: flex; align-items: flex-start; gap: 10px">
						<div style="width:30%; flex-grow: 1">
							<h4>History</h4>
							<ul>
								<li>{{fmtd(selected_run.queued_timestamp)}}: queued</li>
								<li v-if="selected_run.scheduled_timestamp">
									{{fmtd(selected_run.scheduled_timestamp)}}: scheduled start time</li>
								<li v-if="selected_run.status=='skipped' || selected_run.status=='jammed'">
									{{fmtd(selected_run.start_timestamp)}}: skipped</li>
								<li v-else-if="selected_run.start_timestamp">{{fmtd(selected_run.start_timestamp)}}:
									start time
								</li>
								<li v-if="selected_run.stop_timestamp">{{fmtd(selected_run.stop_timestamp)}}:
									{{selected_run.status}}</li>
							</ul>
						</div>
						<div style="width:30%; flex-grow: 1">
							<h4>Ancestor Runs</h4>
							<a v-for="r in ancestor_runs" v-bind:href="window.location.pathname+'#'+r.id">#{{r.id}} {{r.name}}</a>
						</div>
						<div style="width:30%; flex-grow: 1">
							<h4>Descendent Runs</h4>
							<a v-for="r in descendant_runs" v-bind:href="window.location.pathname+'#'+r.id">#{{r.id}} {{r.name}}</a>
						</div>
					</div>
				</div>
				<div style="padding:10px 20px">
					<h4>Output Log</h4>
					<pre>{{selected_run.output_log}}</pre>
				</div>
			</div>
		</div>
	</div>
</div>

[[block page_scripts]]
<script src="[[=URL('static/js/axios.min.js')]]"></script>
<script src="[[=URL('static/js/vue.min.js')]]"></script>
<script src="[[=URL('static/js/main.js')]]"></script>
[[end]]